<br><br><br>

<table class="table table-hover table-secondary table-striped table-bordered border-dark">
    <thead>
        <tr>
            <th class="table-dark">Name</th>
            <th class="table-dark">Username</th>
            <th class="table-dark">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let users of users | paginate: { id: 'listing_users',
        itemsPerPage: 5,
        currentPage: page }">
            <td>{{ users.name }}</td>
            <td>{{ users.username }}</td>
            <td>{{ users.email }}</td>
        </tr>
    </tbody>
</table>
<div style="float: right;">
  <pagination-controls id="listing_users" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>
