<br><br><br>
<div class="container main-container">
    <div class="row text-center">        
        <div *ngFor="let photo of photos | paginate: { id: 'listing_photos',
        itemsPerPage: 6,
        currentPage: page }"class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">
                <a class="text-decoration-none">
                    <div style="align-content:center;">
                        <img src="{{ photo.thumbnailUrl }}" height="150px" width="250" alt="">
                    </div>
                </a>
                <h4 class="card-title">{{ photo.title | titlecase }}</h4>
            </div>
        </div>
    </div>
</div>
<div style="float: right;">
    <pagination-controls id="listing_photos" maxSize="6" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>